
#slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#img{
    width: 100%;
    height: 520px;
    position: absolute;
    top: 0px;
}

#slide>h1{
    position: relative;
    top: 60px;
    color: white;
    text-transform: uppercase;
}